@{
    // Razor Block


    var name1 = "Milan Patel";
    var studentnumber1 = "101397631";
    var coursecode1 = "Comp2139_Friday";

    var name2 = "Deep Patel";
    var studentnumber2 = "101415117";
    var coursecode2 = "Comp2139_Friday";

    var name3 = "Neerak Kumar";
    var studentnumber3 = "101415118";
    var coursecode3 = "Comp2139_Friday";
}
<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
</head>
<body>
    <div style="background-color: white; padding: 20px; margin: auto; width: fit-content;">
        <h1>Welcome to About Page</h1>
        <p>Name: @name1</p>
        <p>Student Number: @studentnumber1</p>
        <p>Course code: @coursecode1</p>

        <p>Name: @name2</p>
        <p>Student Number: @studentnumber2</p>
        <p>Course code: @coursecode2</p>

        <p>Name: @name3</p>
        <p>Student Number: @studentnumber3</p>
        <p>Course code: @coursecode3</p>
    </div>
</body>
</html>

