 @model IEnumerable<GBC_Travel_Group_45.Models.Flight>
<link rel="stylesheet" href="~/css/ViewFlight.css" />


<h2>Flights</h2>

<table class="tabledesign">
    <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FlightNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Origin)</td>
            <td>@Html.DisplayFor(modelItem => item.Destination)</td>
            <td>@Html.DisplayFor(modelItem => item.DepartureTime)</td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalTime)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>
                <a href="@Url.Action("Edit", "Flights", new { id=item.Id })" class="btn btn-edit"><i class="fa-solid fa-pen"></i> Edit</a>
                <a href="@Url.Action("Delete", "Flights", new { id=item.Id })" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</a>
            </td>
        </tr>
    }
</table>

<a href="@Url.Action("Create", "Flights")" class="btn btn-success">Add New Flight</a>
